<header>
    <div id="header1">
        <div class="container">
            <div id="header1-right">
                <ul>
                    <li id="HOME"><a href="">Home</a>
                        <ul class="inner-ul">
                            <li><a href="">Home Layout1</a></li>
                            <li><a href="">Home Layout2</a></li>
                            <li><a href="">Home Layout3</a></li>
                        </ul>
                    </li>
                    <li><a href="">Shop</a>
                        <ul class="inner-ul">
                            <li><a href="">Shop Grid</a></li>
                            <li><a href="">Single Product</a></li>
                        </ul>
                    </li>
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a>
                        <ul class="inner-ul">
                            <li><a href="">Blog List</a></li>
                            <li><a href="">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Pages</a>
                        <ul class="inner-ul">
                            <li><a href="">Cart</a></li>
                            <li><a href="">Checkout</a></li>
                            <li><a href="">404 Error</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Register</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="header1-left">
                <div>
                    <a href="">Log in / Sign up</a>
                    <a href="">Track Order</a>
                </div>
                <div id="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-pinterest"></i></a>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="header2">
        <div class="container">
            <img src="assets/images/logo-white.png" alt="">
            <a href="">
                <div class="bars">
                    <span id="bar1"></span>
                    <span id="bar2"></span>
                    <span id="bar3"></span>
                </div>
                <p>All Department</p>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div>
                <input type="text" placeholder="Search anything here..">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <span>
                <div><i class="far fa-heart"></i>
                    <p>Wishlist</p>
                </div>
                <div><i class="fas fa-shopping-cart"></i>
                    <p>Cart</p>
                </div>
            </span>
        </div>
    </div>
    <div id="header3">
        <div class="container">
            <div id="header3-left">
                <ul>
                    <li>
                        <a href="">Home<i class="fas fa-chevron-down"></i></a>
                        <ul class="inner-ul">
                            <li><a href="">Home Layout1</a></li>
                            <li><a href="">Home Layout2</a></li>
                            <li><a href="">Home Layout3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Gadgets<i class="fas fa-chevron-down"></i></a>
                    </li>
                    <li><a href="">PC & Laptop<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="">Accessoties<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="">Phone & Tablet<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="">Game Console<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="">Cameras & GPS<i class="fas fa-chevron-down"></i></a></li>
                </ul>
            </div>
            <div id="header3-right">
                <div><i class="fas fa-headphones"></i>1800 344 565</div>
                <div>
                    <a href="">EN<i class="fas fa-chevron-down"></i></a>
                    <a href="">EUR<i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>