<div id="page">
    <app-header></app-header>
    <div id="part1">
        <div class="container">
            <p>Sale 30% Discount</p>
            <h2>CONSOLE</h2>
            <a href="">Purchase Now<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div id="part2">
        <div class="container">
            <div id="part2-left">
                <div>
                    <h3>Collection Of 2021</h3>
                    <ul>
                        <li><a href="">Galaxy Tabs & Ides</a></li>
                        <li><a href="">Tab Accessories</a></li>
                        <li><a href="">Mobile Phones</a></li>
                        <li><a href="">Camcorders</a></li>
                        <li><a href="">Fitness Trackers</a></li>
                        <li><a href="">Action Cams</a></li>
                        <li><a href="">Hard Drives</a></li>
                        <li><a href="">iPad & Tablets</a></li>
                        <li><a href="">Portable Audio</a></li>
                    </ul>
                </div>
            </div>
            <div id="part2-right">
                <div>
                    <h3>Google Mini Home Appliances Nest 4.0</h3>
                    <a href="">Shop Now<i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="part3">
        <div class="container">
            <div id="part3-left">
                <div>
                    <p>*FREE SHIPPING</p>
                    <h3>WATCHES</h3>
                    <a href="">Explore Now<i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div id="part3-right">
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part3.1.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">SPEAKERS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.5</span>
                        </div>
                        <h5><a href="">Originals Win Camera</a></h5>
                        <div class="sell">
                            <p>$150.99</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part3.2.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">CAMERAS</span>
                            <span class="stars"><i class="far fa-star"></i> 4.5</span>
                        </div>
                        <h5><a href="">Sodales Par Iaculis</a></h5>
                        <div class="sell">
                            <p>$125.99</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part3.3.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">CAMERAS</span>
                            <span class="stars"><i class="far fa-star"></i> 3.3</span>
                        </div>
                        <h5><a href="">Sceleris Quie Nostra</a></h5>
                        <div class="sell">
                            <p>$32.99</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part3.4.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part3.5.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">TABLETS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Game Console Conller</a></h5>
                        <div class="sell">
                            <p><del>$150.99</del> $215.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part3.6.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">SPEAKERS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Tablet Thin Elite Book</a></h5>
                        <div class="sell">
                            <p>$212.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part4">
        <div class="container">
            <span>
                <div>
                    <img src="assets/images/television.png" alt="">
                    <p>Television</p>
                </div>
                <div>
                    <img src="assets/images/headphone.png" alt="">
                    <p>Headphone</p>
                </div>
                <div>
                    <img src="assets/images/computer.png" alt="">
                    <p>Computer</p>
                </div>
            </span>
            <img src="assets/images/promo-img.png" alt="">
            <h3>Shop & Save Big On Listed Categories Here</h3>
        </div>
    </div>
    <div id="part5">
        <div class="container">
            <div id="part5-top">
                <div id="conter">
                    <h3>Super Deals During This Week</h3>
                    <ul>
                        <li>
                            <div class="numbers">93</div>
                            <p>DAYS</p>
                        </li>
                        <li>
                            <div class="numbers">7</div>
                            <p>HOURS</p>
                        </li>
                        <li>
                            <div class="numbers">10</div>
                            <p>MIN</p>
                        </li>
                        <li>
                            <div class="numbers">6</div>
                            <p>SEC</p>
                        </li>
                    </ul>
                    <a href="">View All Deals<i class="fas fa-chevron-right"></i></a>
                </div>
                <div id="sales">
                    <div class="items">
                        <div class="item-image">
                            <img src="assets/images/part5.1.jpg" alt="">
                            <div class="icons">
                                <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                                <a href="" class="heart"><i class="far fa-heart"></i></a>
                                <a href="" class="eye"><i class="far fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <span class="item-title">TABLETS</span>
                                <span class="stars"><i class="far fa-star"></i> 4.5</span>
                            </div>
                            <h5><a href="">IPhone 11-Yellow</a></h5>
                            <div class="sell">
                                <p>$199.00</p>
                                <a href="">+ SELECT OPTION</a>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item-image">
                            <img src="assets/images/part5.2.jpg" alt="">
                            <div class="icons">
                                <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                                <a href="" class="heart"><i class="far fa-heart"></i></a>
                                <a href="" class="eye"><i class="far fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <span class="item-title">LAPTOPS</span>
                                <span class="stars"><i class="far fa-star"></i> 2.3</span>
                            </div>
                            <h5><a href="">Purple 12 Mini Aparat</a></h5>
                            <div class="sell">
                                <p>$230.00</p>
                                <a href="">+ SELECT OPTION</a>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item-image">
                            <img src="assets/images/part5.3.jpg" alt="">
                            <div class="icons">
                                <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                                <a href="" class="heart"><i class="far fa-heart"></i></a>
                                <a href="" class="eye"><i class="far fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <span class="item-title">TABLETS</span>
                                <span class="stars"><i class="far fa-star"></i> 2.3</span>
                            </div>
                            <h5><a href="">Tablet Revolve 810</a></h5>
                            <div class="sell">
                                <p>$230.00</p>
                                <a href="">+ SELECT OPTION</a>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item-image">
                            <img src="assets/images/part5.4.jpg" alt="">
                            <div class="icons">
                                <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                                <a href="" class="heart"><i class="far fa-heart"></i></a>
                                <a href="" class="eye"><i class="far fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <span class="item-title">TABLETS</span>
                                <span class="stars"><i class="far fa-star"></i> 2.4</span>
                            </div>
                            <h5><a href="">IPhone 11-Yellow</a></h5>
                            <div class="sell">
                                <p>$199.00</p>
                                <a href="">+ SELECT OPTION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="part5-bot">
                <div>
                    <img src="assets/images/part5-bot1.png" alt="">
                    <span>
                        <a href="">
                            <h4>New Design Features On Galaxy S10 Series</h4>
                        </a>
                        <a href="">See All Products<i class="fas fa-chevron-right"></i></a>
                    </span>
                </div>
                <div>
                    <img src="assets/images/part5-bot2.png" alt="">
                    <span>
                        <a href="">
                            <h4>Xbox X|S Next-Gen Say Hello to G7 Console.</h4>
                        </a>
                        <a href="">See All Products<i class="fas fa-chevron-right"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="part6">
        <div class="container">
            <div id="part6-left">
                <h4>Unmissed Items</h4>
                <ul>
                    <li><a href=""><i class="fas fa-desktop"></i><span>Desktop PCs</span></a><i
                            class="fas fa-chevron-right"></i></li>
                    <li><a href=""><i class="fas fa-laptop"></i><span>Cosnoles & Games</span></a><i
                            class="fas fa-chevron-right"></i></li>
                    <li><a href=""><i class="fas fa-mobile-alt"></i><span>Video Cameras</span></a><i
                            class="fas fa-chevron-right"></i></li>
                    <li><a href=""><i class="fas fa-camera-retro"></i><span>Home Theater & Audio</span></a><i
                            class="fas fa-chevron-right"></i></li>
                    <li><a href=""><i class="fas fa-video"></i><span>Digital Cameras</span></a><i
                            class="fas fa-chevron-right"></i></li>
                    <li><a href=""><i class="fas fa-mouse"></i><span>Smart Electronics</span></a><i
                            class="fas fa-chevron-right"></i></li>
                    <li><a href=""><i class="fas fa-laptop"></i><span>Cosnoles & Games</span></a><i
                            class="fas fa-chevron-right"></i></li>
                    <li><a href=""><i class="fas fa-camera-retro"></i><span>Accessories</span></a><i
                            class="fas fa-chevron-right"></i></li>
                </ul>
                <a href="">See All Products<i class="fas fa-chevron-right"></i></a>
            </div>
            <div id="part6-right">
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.1.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">SPEAKERS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.5</span>
                        </div>
                        <h5><a href="">Originals Win Camera</a></h5>
                        <div class="sell">
                            <p>$150.99</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.2.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">CAMERAS</span>
                            <span class="stars"><i class="far fa-star"></i> 4.5</span>
                        </div>
                        <h5><a href="">Sodales Par Iaculis</a></h5>
                        <div class="sell">
                            <p>$125.99</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.3.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">CAMERAS</span>
                            <span class="stars"><i class="far fa-star"></i> 3.3</span>
                        </div>
                        <h5><a href="">Sceleris Quie Nostra</a></h5>
                        <div class="sell">
                            <p>$32.99</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.4.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.5.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">TABLETS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Game Console Conller</a></h5>
                        <div class="sell">
                            <p><del>$150.99</del> $215.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.6.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">SPEAKERS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Tablet Thin Elite Book</a></h5>
                        <div class="sell">
                            <p>$212.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.7.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">SPEAKERS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Tablet Thin Elite Book</a></h5>
                        <div class="sell">
                            <p>$212.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="item-image">
                        <img src="assets/images/part6.8.jpg" alt="">
                        <div class="icons">
                            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="" class="heart"><i class="far fa-heart"></i></a>
                            <a href="" class="eye"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">SPEAKERS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Tablet Thin Elite Book</a></h5>
                        <div class="sell">
                            <p>$212.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part7">
        <div class="container">
            <div>
                <h5>45% FLATE ON</h5>
                <h3>GADGETS</h3>
                <a href="">Explroe Now<i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div id="part8">
        <div class="container">
            <ul>
                <li>
                    <img src="assets/images/part8.1.png" alt="">
                    <span>
                        <a href="">Free Shipping</a>
                        <p>The new variations pass of Lorem avaible..</p>
                    </span>
                </li>
                <li>
                    <img src="assets/images/part8.2.png" alt="">
                    <span>
                        <a href="">20 Day Returns</a>
                        <p>The new variations pass of Lorem avaible..</p>
                    </span>
                </li>
                <li>
                    <img src="assets/images/part8.3.png" alt="">
                    <span>
                        <a href="">Secure Payment</a>
                        <p>The new variations pass of Lorem avaible..</p>
                    </span>
                </li>
            </ul>
            <div>
                <h4>Sign Up For Newsletter</h4>
                <form action="">
                    <input type="text" placeholder="Enter Your Email">
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div id="part9">
        <div class="container">
            <h5>Handpicked Products For You</h5>
            <div id="part9-header">
                <div>
                    <h4>Smart Series 4.0 Extraordinary Watches</h4>
                    <a href="">Shop Now<i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div id="part9-items">
                <div class="items-counter">
                    <div class="item-image">
                        <a href=""><img src="assets/images/part9.1.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                        <div class="counter">
                            <form>
                                <button>+</button>
                                <input type="text" value="1">
                                <button>-</button>
                            </form>
                            <a href="" class="cart">
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items-counter">
                    <div class="item-image">
                        <a href=""><img src="assets/images/part9.2.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                        <div class="counter">
                            <form>
                                <button>+</button>
                                <input type="text" value="1">
                                <button>-</button>
                            </form>
                            <a href="" class="cart">
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items-counter">
                    <div class="item-image">
                        <a href=""><img src="assets/images/part9.3.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                        <div class="counter">
                            <form>
                                <button>+</button>
                                <input type="text" value="1">
                                <button>-</button>
                            </form>
                            <a href="" class="cart">
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items-counter">
                    <div class="item-image">
                        <a href=""><img src="assets/images/part9.4.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                        <div class="counter">
                            <form>
                                <button>+</button>
                                <input type="text" value="1">
                                <button>-</button>
                            </form>
                            <a href="" class="cart">
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items-counter">
                    <div class="item-image">
                        <a href=""><img src="assets/images/part9.5.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                        <div class="counter">
                            <form>
                                <button>+</button>
                                <input type="text" value="1">
                                <button>-</button>
                            </form>
                            <a href="" class="cart">
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="items-counter">
                    <div class="item-image">
                        <a href=""><img src="assets/images/part9.6.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <div>
                            <span class="item-title">LAPTOPS</span>
                            <span class="stars"><i class="far fa-star"></i> 2.4</span>
                        </div>
                        <h5><a href="">Wireless Audio System</a></h5>
                        <div class="sell">
                            <p>$150.00</p>
                            <a href="">+ SELECT OPTION</a>
                        </div>
                        <div class="counter">
                            <form>
                                <button>+</button>
                                <input type="text" value="1">
                                <button>-</button>
                            </form>
                            <a href="" class="cart">
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part10">
        <div class="container">
            <h4>Trusted by 500+ Brands</h4>
            <div>
                <img src="assets/images/brand-1.jpg" alt="">
                <img src="assets/images/brand-2.jpg" alt="">
                <img src="assets/images/brand-3.jpg" alt="">
                <img src="assets/images/brand-4.jpg" alt="">
                <img src="assets/images/brand-5.png" alt="">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
